html,body{
    margin: 0;
    padding: 0;

    height: 100%;
}

*{
    border-color: red;
}

.art-ellipse-green{
    background-image: url('../../images/ellipse_green.svg');
}
.art-ellipse-blue{
    background-image: url('../../images/ellipse_blue.svg');
}
.art-rectangle-green{
    background-image: url('../../images/rectangle_green.svg');
}
.art-rectangle-blue{
    background-image: url('../../images/rectangle_blue.svg');
}

/* Fonts */

@font-face {
    font-family: 'Zeyada';
    src: url('../fonts/Zeyada-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Seaweed Script';
    src: url('../fonts/SeaweedScript-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Unna';
    src: url('../fonts/Unna-Regular.ttf');
    font-weight: normal;
}