.menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #111;
}
.menu-section .menu-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}
.menu-section .menu-title-container .menu-title-logo {
  width: 100px;
  height: 85px;
  margin-bottom: 5px;
  background-image: url("../../images/logo_kb.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.menu-section .menu-title-container span {
  color: #FFF;
  font-family: "Seaweed Script", cursive;
  font-size: 50px;
}
.menu-section .menu-blocks-container {
  display: flex;
  gap: 150px;
}
.menu-section .menu-blocks-container .menu-block .menu-block-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 150px;
  background-image: url("../../images/chalk.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.menu-section .menu-blocks-container .menu-block .menu-block-title span {
  margin-bottom: 10px;
  font-family: "Unna", serif;
  font-size: 40px;
  color: #fff;
}
.menu-section .menu-blocks-container .menu-block .menu-block-listing {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.menu-section .menu-blocks-container .menu-block .menu-block-listing .entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-section .menu-blocks-container .menu-block .menu-block-listing .entry div span {
  color: #fff;
  font-family: "Unna", serif;
  font-size: 24px;
}
.menu-section .menu-blocks-container .menu-block--mg {
  margin-top: -110px;
}

@media (max-width: 1400px) {
  .menu-section .menu-title-container {
    margin-bottom: 40px;
  }
  .menu-section .menu-blocks-container {
    gap: 80px;
  }
  .menu-section .menu-blocks-container .menu-block .menu-block-title {
    width: 240px;
    height: 110px;
    margin-bottom: 5px;
  }
  .menu-section .menu-blocks-container .menu-block .menu-block-title span {
    font-size: 30px;
  }
  .menu-section .menu-blocks-container .menu-block .menu-block-listing {
    gap: 10px;
  }
  .menu-section .menu-blocks-container .menu-block .menu-block-listing .entry div span {
    font-size: 18px;
  }
}
@media (max-width: 1100px) {
  .menu-section .menu-title-container {
    margin-bottom: 10px;
  }
  .menu-section .menu-blocks-container {
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 70px;
    width: 600px;
  }
  .menu-section .menu-blocks-container .menu-block--mg {
    margin-top: 0;
  }
}
@media (max-width: 700px) {
  .menu-section {
    height: auto;
    padding: 70px;
    box-sizing: border-box;
  }
  .menu-section .menu-title-container {
    margin-bottom: 20px;
  }
  .menu-section .menu-title-container .menu-title-logo {
    width: 80px;
    height: 70px;
    margin-bottom: 2px;
  }
  .menu-section .menu-title-container span {
    font-size: 40px;
  }
  .menu-section .menu-blocks-container {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 40px;
    width: auto;
  }
}/*# sourceMappingURL=menu.css.map */